---
import DsInline from '../../components/primitives/Inline.astro';
---

<DsInline gap="8" wrap>
  <span
    class="ds-type-code-m-tall"
    style="padding: var(--spacing-8); background: var(--surface-3); border-radius: var(--radius-s); color: var(--foreground-secondary);"
    >Item</span>
  <span
    class="ds-type-code-m-tall"
    style="padding: var(--spacing-8); background: var(--surface-3); border-radius: var(--radius-s); color: var(--foreground-secondary);"
    >Item</span>
  <span
    class="ds-type-code-m-tall"
    style="padding: var(--spacing-8); background: var(--surface-3); border-radius: var(--radius-s); color: var(--foreground-secondary);"
    >Item</span>
</DsInline>
