---
import ButtonDropdown from '../../components/ButtonDropdown.astro';
import MenuDropdown from '../../components/MenuDropdown.astro';
import MenuItemAction from '../../components/MenuItemAction.astro';
import ShowcaseControlRow from './ShowcaseControlRow.astro';
import { accentContainerTokens, accentTokenMenuLabel } from '../data';

const defaultToken = 'container-accent-blue';
---

<ShowcaseControlRow label="Accent container" class="js-ds-accent-token-row" hidden>
  <MenuDropdown>
    <ButtonDropdown slot="trigger" variant="secondary" size="s" type="button">
      <span data-ds-dd="accent-token-label">{accentTokenMenuLabel(defaultToken)}</span>
    </ButtonDropdown>
    {
      accentContainerTokens.map((t) => (
        <MenuItemAction type="button" data-ds-pick="accent-token" data-value={t}>
          {accentTokenMenuLabel(t)}
        </MenuItemAction>
      ))
    }
  </MenuDropdown>
</ShowcaseControlRow>
