---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class:list={['ds-showcase-controls', className]}>
  <table class="ds-showcase-table">
    <thead>
      <tr>
        <th class="text-label-xs-plain ds-showcase-table__th" scope="col">Control</th>
        <th class="text-label-xs-plain ds-showcase-table__th" scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <slot />
    </tbody>
  </table>
</div>
