@font-face {
  font-family: 'Saans';
  src:
    url('/fonts/Saans-SemiBold.woff2') format('woff2'),
    url('/fonts/Saans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Flex';
  src: url('/fonts/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: oblique 0deg 12deg;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Code';
  src: url('/fonts/GoogleSansCode-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}
