---
import SystemLayout from '../../layouts/SystemLayout.astro';
---

<SystemLayout title="Niko UI">
  <header class="page__header">
    <p class="text-label-s-plain page__eyebrow">Design system</p>
    <h1 class="text-display-m-plain">Welcome</h1>
    <p class="text-body-l-plain page__lede">
      This is my playground to learn about design systems by building and iterating on it. This system is also used to
      build everything you find on my website. Typography provided by Google. Icons provided by Iconists. Designed and
      coded by Niko Korhonen with the help of Figma and Cursor.
    </p>
  </header>
</SystemLayout>
