@import "../system/styles/tokens.css";
@import "../system/styles/typography.css";
@import "../system/styles/layout-tokens.css";
@import "../system/primitives/primitives.css";
@import "../system/components/components.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
  background: var(--color-surface-base);
  color: var(--color-content-primary);
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}
