---
import Stack from '../../components/primitives/Stack.astro';
import ItemRowDivider from '../../components/ui/ItemRowDivider.astro';
---

<Stack gap="0">
  <p class="ds-type-body-l-short">Content above</p>
  <ItemRowDivider />
  <p class="ds-type-body-l-short">Content below</p>
</Stack>
