---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta property="og:image" content="/og.png" />
    <title>nikoko</title>
  </head>
  <body>
    <slot />
  </body>
</html>
